* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-slate: #595880;
    --color-accent-lavender: #CBCBE7;
    --color-surface-ivory: #FDFAE7;
}

body {
    font-family: "Silkscreen", sans-serif;
    background-color: var(--color-accent-lavender);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.weather-app {
    flex: 1;
    display: grid;
    grid-template-columns: 80px 1fr 200px;
    position: relative;
}

.weather-sidebar {
    background-color: var(--color-primary-slate);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 20;
}

.weather-brand {
    color: var(--color-surface-ivory);
    font-weight: bold;
    font-size: 38px;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.weather-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.weather-search__input {
    width: 500px;
    height: 60px;
    border: none;
    font-family: inherit;
    text-align: center;
    color: var(--color-primary-slate);
    border-radius: 15px;
    background-color: var(--color-surface-ivory);
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.weather-search__input:focus {
    outline:none;
}

.weather-card {
    position: relative;
    text-align: center;
}

.weather-condition__label {
    color: var(--color-surface-ivory);
    font-size: 60px;
    text-transform: uppercase;
}

.weather-temperature {
    color: var(--color-surface-ivory);
    font-size: 150px;
    line-height: 0.9;
    margin-left: 50px;
}

.weather-condition__image {
    width: 300px;
    position: absolute;
    left: -150px;
    top: 10%;
    transform: translateY(-20%);
    z-index: -1;
    rotate: -10deg;
}



.weather-feels-like {
    color: var(--color-primary-slate);
    font-size: 32px;
    margin-top: 10px;
    text-transform: uppercase;
}

.weather-location {
    color: var(--color-primary-slate);
    font-size: 80px;
    text-transform: uppercase;
}

.weather-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    color: var(--color-primary-slate);
    padding-right: 40px;
}

.weather-stat__label {
    font-size: 18px;
    text-transform: uppercase;
}

.weather-stat__value {
    font-size: 22px;
}

.weather-card__icon {
    position: absolute;
    top: 20px;
    right: 150px;
    width: 90px;
    animation-name: rotateicon;
    pointer-events: none;
}


.weather-footer {
    position: fixed;
    bottom: -10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    z-index:20;

}

.weather-footer__image {
    width: 16%;
    display: block;
    margin: 0;
    padding: 0;
    transform: translate(30px,25px);
    pointer-events: none;

}